<h2><%= @uniquevenue.uniquevenue_name %></h2>

<p><%= @uniquevenue.uniquevenue_name %></p>

<p><%= @uniquevenue.uniquevenue_description %></p>

<p><%= @uniquevenue.price %></p>

<p><%= @uniquevenue.adress %></p>


<%= link_to "Back", root_path %>
